{% load static %}
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <title>SSGI</title>
        
        <!-- CSS -->
        <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">  
       <link href="{% static 'css/dashboard.css'%}" rel="stylesheet">
       <link href="{% static 'css/main.css'%}" rel="stylesheet">
       <link href="{% static 'css/base.css'%}" rel="stylesheet">

       <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
        crossorigin=""/>
        <link   href="{% static 'css/carousel.css'%}"  rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
         {% comment %} <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> {% endcomment %}
       
   
        <!-- js -->
       <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/slim.min.js'%}"></script>
    <script src="{% static 'js/holder.min.js'%}"></script>
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

 <script>
        document.addEventListener('DOMContentLoaded', function() {
          console.log("sda")
          const button = document.querySelector('.animated-button');
        
          button.addEventListener('click', function() {
            button.classList.add('clicked');
        
            setTimeout(function() {
              button.classList.remove('clicked');
            }, 300);
          });
        });
  </script>
           
     


  <header class="fixed-top">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <a href="{% url 'home' %}">
      <img src="{% static '/images/SSGI.png' %}" height="10%" width="13%"  ></a>    <!-- <a href="#"><h2 style="color: white;font-family: Georgia, Arial and Helvetica;">SSGI  </h2></a>
    <p style="font-family: Georgia, Arial and Helvetica;color: white;">Space Science and Geospatial Institute</p> -->
  
    <div class="navbar-collapse" style="margin-right:70px;">
      <ul class="navbar-nav mr-auto"></ul>
  
      <div class="dropdown">
        
    
        <div class="menu-icon">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
      </div> <div class="sidebar">
        <ul class="sidebarMenuInner">
            <li><form action="" method="POST">
              {% csrf_token %}
              <input class="dropdown-item" type="submit" value="User Preferences"/>
            </form></li>
            <li><form action="about" method="POST">
              {% csrf_token %}
              <input class="dropdown-item" type="submit" value="About"/>
            </form></li>
            <li><form action="" method="POST">
              {% csrf_token %}
              <input class="dropdown-item" type="submit" value="News"/>
            </form></li>
            <li><form action="{% url 'bookmark-list' %}" method="POST">
              {% csrf_token %}
              <input class="dropdown-item" type="submit" value="Bookmarks"/>
            </form></li>
            <li><form action="{% url 'logout' %}" method="POST">
              {% csrf_token %}
              <input class="dropdown-item" type="submit" value="Sign Out"/>
            </form></li>
            <li>
              <form action="feedback" method="POST">
                         {% csrf_token %}
                         <input class="dropdown-item" type="submit" value="Feedback"/>
                       </form>
             </li>
          </ul>  
          </div>
          <script>
    
            document.querySelector('.menu-icon').addEventListener('click', function() {
                document.querySelector('.sidebar').classList.toggle('active');
            });</script>
      </div>
    </div>
  </nav>
</header>


<body>
  <main class="col-sm-4 col-sm-8 px-md-4">
     <div class="map-container" style="top:80px" >{{map|safe}} </div> 
       <div class="container-fluid">
          <div class="row">
          {% block content %}
          
          {% endblock content %}    
       </div>
     </div>
  </main>
  
</body><br>